html{
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	color: white;
	height: 100%;
	font-size: 16px;
}

.select {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;
	
}

.Colorselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;
}

.Eyeselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;
}

.Hairselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;
}

.Sexselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;

}

.Fixselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;

}

.Ageselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;

}
.Markselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	font-size: 14px;

}

.opselect {
	position: relative;
	left: 100px;
	background: #00304F!important;
	border: 2px solid #000000;
	color: white;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	display: none;
}

label {
	width: 4em;
	display: block;
}

.box{
  width: 460px;
  height: 500px;
  overflow: scroll;
}

.options{
	min-height: 20px;
	max-width: 300px;
	display: block;
	border-style: inset;
	border-color: black;
}

#widget{
	height: 691px;
	width: 921px;
	background-color: #004466;
	border-radius: 15px;
	padding: 20px;
}

.clonedInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.clonedColorInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.clonedEyeInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.clonedHairInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.clonedSexInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.clonedFixInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.clonedAgeInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}
.clonedMarkingsInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.breedselect {
    background: #77AA00!important;
    border: 2px solid #000000;
    color: black;
    font-size: 12pt;
    padding: 5px;
    font-family:'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}

.buttonDiv
{
	z-index: 1000;
}

#chosenCatInfowPic{
	display: none;
}

#congratsText{
	display: none;
}

#chooseCat{
	position: relative;
	left: 100px;
}

#selectTableDiv{
	display: none;
}

.textarea{
	font-size: 13px;
	color: #004466;

}

#breedDiv
{
	display: none;
}

#colorDiv
{
	display: none;
}

#sexDiv
{
	display: none;
}

#fixDiv
{
	display: none;
}

#eyeDiv
{
	display: none;
}

#hairDiv
{
	display: none;
}

#ageDiv
{
	display: none;
}
#markDiv
{
	display: none;
}
#leftDiv
{
	float: left;
	height: 100%;
	width: 30%;
	overflow-y:scroll;
}

#rightDiv
{
	float: left;
	height: 100%;
	width: 70%;
	overflow-y:scroll;
}

#rightTop
{
	height: 50%;

}

#rightTopTop
{
	height: 90%;

}
#rightTopBottom
{
	height: 10%;

}

#rightBottom
{
	height: 50%;
}

#selectedCatDisplay
{	
	height: 100%;
	width: 100%;
	overflow-y:scroll;
	overflow-x: :none;
}

#catAttributes
{
	float:left;
	height: 100%;
	width: 50%;
}
.catDisplay{
	float:left;
	height: 100%;
	width: 50%;
}
.catDisplay img
{
	width: 75%;
	height: 75%;
}
.catThumb
{
	float: left;
	height: 33%;
	width: 25%;
}

.catThumb img
{
	height: inherit;
	width: inherit;
}

