html{
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	color: white;
	height: 100%;

}
.select {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;h
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	
}
.Colorselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	
}
.Eyeselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	
}
.Hairselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}
.Sexselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}
.Fixselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}
.Ageselect {
	
	background: #77AA00!important;
	border: 2px solid #000000;
	color: black;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}

.opselect {

	background: #00304F!important;
	border: 2px solid #000000;
	color: white;
	font-size: 12pt;
	padding: 5px;
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	display: none;
}
label {
	width: 4em;
	display: block;
}
div.box{
  width: 460px;
  height: 500px;
  overflow: scroll;
}

.div{
	min-height: 20px;
	max-width: 300px;
	display: none;
	border-style: inset;
	border-color: black;
}

#widget{
	height: 691px;
	width: 921px;
	background-color: #004466;
	border-radius: 15px;
	padding: 20px;
}
.clonedInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}
.clonedColorInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}
.clonedEyeInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}
.clonedHairInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}
.clonedSexInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}
.clonedFixInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}
.clonedAgeInput{
	min-height: 20px;
	overflow: auto;
	display: none;
}

.breedselect {
    background: #77AA00!important;
    border: 2px solid #000000;
    color: black;
    font-size: 12pt;
    padding: 5px;
    font-family:'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
}
.buttonDiv
{
	z-index: 1000;
}