html{
	font-family: 'century gothic', 'futura', 'arial', 'helvetica', 'sans-serif';
	color: black;
	height: 100%;

}
.heading{
	font-size: 20px;
	position: center;
}
.statement{
	color: red;
	font-style: italic;
	font-style: oblique;
	p
}